    
    <%@articles.each do |article|%>  
      <center><h1>title:  <%= article.title %></h1></center>

       <center><h1>description:  <%= article.description %></h1></center>
        <%end%> 
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>